body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    line-height: 0.5;
    z-index: -2;
}

.start {
    height: 50px;
    width: 80vw;
    position: absolute;
    bottom: 50px;
    background-color: #0f0;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: all 0.25s;
}

.start:hover {
    transform: scale(1.1);
}

.screen {
    background-color: white;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}
